  <% if @user.new_record? %>
  
    <%= form_for(@user, url: create_user_admins_path, html: { method: :post }) do |f| %>
      <div class="fields_container">
        <div class="field">
          <%= f.label :first_name %> 
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
        </div>

        <div class="field">
          <%= f.label :last_name %> 
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
        </div>

        <div class="field">
          <%= f.label :user_id, "User ID" %> 
          <%= f.text_field :user_id, autofocus: true, autocomplete: "user id" %>
        </div>

        <div class="field">
          <%= f.label :email %> 
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %> 
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %> 
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Register", class: "actions_button" %>
      </div>
    <% end %>

  <% else %>
    <%= form_for(@user, url: update_user_admins_path(@user), html: { method: :patch }) do |f| %>
            <div class="fields_container">
        <div class="field">
          <%= f.label :first_name %> 
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
        </div>

        <div class="field">
          <%= f.label :last_name %> 
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
        </div>

        <div class="field">
          <%= f.label :user_id, "User ID" %> 
          <%= f.text_field :user_id, autofocus: true, autocomplete: "user id" %>
        </div>

        <div class="field">
          <%= f.label :email %> 
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %> 
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %> 
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i style="font-size:9pt">Input password to confirm changes.</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
    </div>
    
        <div class="actions">
          <%= f.submit "Update", class: "actions_button" %>
        </div>
    <% end %>
<% end %>

<%= link_to 'Back', admins_path, class: "back_link" %>