  <div class="container">
    <table class="table table-striped table-dark table-hover caption-top">
      <caption style="color:orange; font-size:12pt; font-weight:bold; text-align:center">Pending Registration</caption>
        <thead class="table-dark">
          <tr class="text-center">
            <th>Name</th>
            <th>Email</th>
            <th>User ID</th>
            <th>Status</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @pending_users.each do |user| %>
            <tr class="text-center align-middle">
              <td class="text-left"><%= user.first_name %> <%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.user_id %></td>
              <td style="text-transform:capitalize"><%= user.status %></td>
              <td><%= user.created_at.strftime("%b %d, %Y %H:%M:%S") %></td>
              <td>
                  <%= form_for(user, url: approve_user_admins_path(user), method: :post) do |f| %>
                    <%= f.submit 'Approve', class: 'btn btn-success m-1 p-1 fs-6' %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  <%= link_to 'Back', admins_path, :class=> "back_link" %>
</div>