<p style="color: green"><%= notice %></p>

<%= render @admin %>

<div>
  <%= link_to "Edit Profile", edit_admin_path(@admin) %> |
  <%= link_to "Back to admins", admins_path %>

  <%= button_to "Delete Account", @admin, method: :delete %>
</div>
