<div class="resend_confirmation_container">

 <%= image_tag("NebulaTrade Logo.png", alt: "NebulaTrade Logo", size: "150x150") %>

  <div class="error_message-container">
    <%= render "admins/shared/error_messages", resource: resource %>
  </div>

  <h3>Resend confirmation instructions</h3>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="fields_container">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", :class=>"actions_button" %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>