<div class="login_page_container">

  <%= image_tag("NebulaTrade Logo.png", alt: "NebulaTrade Logo", size: "150x150") %>

  <div class="error_message-container">
    <%= render "admins/shared/error_messages", resource: resource %>
  </div>

  <h3>Admin Login</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="remember_me_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Login", :class=>"actions_button" %>
    </div>

  <% end %>

  <p class="no_account_yet_text">No account yet?</p><%= render "admins/shared/links" %>

  <div class="user_login_button-container">
    <p class="user_login"><%= link_to 'Client Login', new_user_session_path, class: 'button' %></p>
  </div>
</div>