<%= render "tickertape" %>
<%= render "chart" %>
<br />
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="buy-sell-btn">
        <%= link_to "Buy", transactions_buy_path, class:"btn btn-success" %>
        <%= link_to "Sell", transactions_sell_path, class:"btn btn-outline-danger" %>
      </div>

      <%= form_with(model: @transaction, url: transactions_path, method: :post ) do |form| %>
        <% if @transaction.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this @transaction from being saved:</h2>
      
            <ul>
              <% @transaction.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field mb3">
          <%= form.label :stock, class:"form-label" %>
          <%= form.text_field :stock, class:"form-control", id: "stock" %>
          <div id="stockHelp" class="form-text">e.g. AAPL, GOOG, META</div>
        </div>
      
        <div class="field mb3">
          <%= form.label :price, class:"form-label" %>
          <%= form.number_field :price, step: "0.01", class:"form-control", id: "price", disabled: true %>
        </div>

        <div class="field mb3">
          <%= form.label :amount, class:"form-label" %>
          <%= form.number_field :amount, step: "0.01", class:"form-control", id: "amount" %>
          <div id="amountHelp" class="form-text">Available balance:</div>
        </div>

        <div class="field mb3">
          <%= form.label :shares, class:"form-label" %>
          <%= form.number_field :shares, step: "0.01", class:"form-control", id: "shares", disabled: true %>
        </div>
      
        <div class="field mb3">
          <%= form.number_field :user_id, value: 7, class:"form-control", type: :hidden %>
        </div>

        <div class="field mb3">
          <%= form.text_field :action, value: "buy", class:"form-control", type: :hidden %>
        </div>
        <br />
        <div>
          <%= form.submit "Submit", class:"btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const stockInput = document.getElementById('stock');
    const priceInput = document.getElementById('price');
    const amountInput = document.getElementById('amount');
    const sharesInput = document.getElementById('shares');

    stockInput.addEventListener('change', function() {
      const stockCode = stockInput.value;
      const url = `https://cloud.iexapis.com/v1/stock/${stockCode}/quote?token=pk_28432911a33d4e58a546ae4a261bd3dc`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          priceInput.value = data.latestPrice;
        })
        .catch(error => {
          console.error('Error fetching stock price:', error);
        });
    });

    amountInput.addEventListener('input', function() {
      const amount = parseFloat(amountInput.value);
      const price = parseFloat(priceInput.value);
      if (!isNaN(amount) && !isNaN(price) && price !== 0) {
        sharesInput.value = (amount / price).toFixed(2);
      } else {
        sharesInput.value = '';
      }
    });
  });
</script>
