<div class="container">
  <table class="table table-striped table-dark table-hover caption-top">
    <caption>My Transactions</caption>
    <thead class="table-dark">
      <tr>
        <th>Stock</th>
        <th>Shares</th>
        <th>Action</th>
        <th>Amount</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.all_transactions.each do |transaction| %>
        <tr>
          <td><%= transaction[:stock] %></td>
          <td><%= transaction[:shares] %></td>
          <td><%= transaction[:action] %></td>
          <td><%= transaction[:amount] %></td>
          <td><%= transaction[:created_at] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>